body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  color: #666;
  margin: 0px;
}

#main {
  float: left;
  width: 750px;
  margin-left: 24px;
  clear: both;
}

#sidebar {
  float: right;
  width: 100px;
  margin: 36px 36px 0px 0px;
  padding: 6px 6px 12px 6px;
  text-align: center;
  border: 1px solid #666;
}

#footer {
  float: left;
  margin: 12px 0px 0px 48px;
  font-size: 1.8em;
}

#sequence {
  width: 600px;
  height: 70px;
  margin: 36px 0px 0px 36px;
}

#legend {
  padding: 6px 0 0 3px;
}


#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
